﻿@model CartIndexViewModel

<h2>Cart</h2>
<table class="table table-border table-striped">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cart.Lines)
        {
        <tr>
            <td class="text-center">@item.Quantity</td>
            <td class="text-left">@item.Product.Name</td>
            <td class="text-right">@item.Product.Price.ToString("c")</td>
            <td class="text-right">
                @((item.Quantity * item.Product.Price).ToString("c"))
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.Cart.ComputeTotalValue().ToString("c")</td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
</div>